<div class="container">
    <app-banner [title]="`Empresas`"></app-banner>

    <div class="container flex justify-end items-center P-3 gap-2">
        <app-export-button [tableData]="companyList"></app-export-button>

        <div class="">
            
            <button (click)="goToNewCompany()"
                class="py-3  px-10 items-center gap-x-2 text-sm font-medium rounded-lg 
                    border border-transparent bg-blue-600 text-white 
                    hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 
                    disabled:opacity-50 disabled:pointer-events-none">
                Nuevo
            </button>
        </div>
    </div>
    
    <app-table-company [tableData]="companyList"></app-table-company>

</div>
